<mat-expansion-panel expanded [formGroup]="sectionFormGroup">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Section
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div style="display: flex; flex-direction: column;">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <ng-container *ngIf="!readonly">
      <button mat-flat-button type="button" color="warn" (click)="deleted.emit()">delete</button>
      <button mat-flat-button style="margin-top: 10px;" type="button" color="primary" (click)="addQuestion()">Add question</button>
    </ng-container>
  </div>

  <ng-container *ngFor="let questionFormGroup of sectionFormGroup.controls.sectionControls.controls; let i = index">
    <app-question-control [questionFormGroup]="questionFormGroup" (deleted)="deleteQuestion(i)"></app-question-control>

    <mat-divider style="margin-top: 10px;"></mat-divider>
  </ng-container>
</mat-expansion-panel>
