<mat-expansion-panel expanded [formGroup]="sectionFormGroup">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <button mat-button type="button" (click)="deleted.emit()">delete</button>
  <button mat-stroked-button type="button" (click)="addQuestion()">Add question</button>

  <ng-container *ngFor="let sectionFirmControlchik of $any(sectionFormGroup.controls).firmControls.controls; let i = index">
    <app-question-control [questionFormGroup]="sectionFirmControlchik" (deleted)="deleteQuestion(i)"></app-question-control>
  </ng-container>
</mat-expansion-panel>
