<form [formGroup]="customForm">
  <mat-card>
    <mat-card-title>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </mat-card-title>

    <mat-card-subtitle>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
    </mat-card-subtitle>
  </mat-card>

  <ng-container *ngFor="let firmControl of customForm.controls.firmControls.controls; let i = index">
    <ng-container *ngIf="firmControl.value.type === 'section'">
      <app-section-control [sectionFormGroup]="$any(firmControl)" (deleted)="deleteSection(i)"></app-section-control>
    </ng-container>

    <ng-container *ngIf="firmControl.value.type === 'question'">
      <app-question-control [questionFormGroup]="$any(firmControl)" (deleted)="deleteQuestion(i)"></app-question-control>
    </ng-container>

    <hr>
  </ng-container>

  <button mat-stroked-button type="button" (click)="addSection()">Add section</button>
  <button mat-stroked-button type="button" (click)="addQuestion()">Add question</button>
  <button mat-stroked-button (click)="save()">Save</button>
</form>
