<mat-card>
  <ng-container *ngIf="createdForms$ | async as createdForms">
    <mat-card-title *ngIf="!createdForms.length">You have not forms</mat-card-title>

    <mat-card-content>
      <mat-list *ngIf="createdForms.length" role="list">
        <mat-card-title *ngIf="!createdForms.length">Your forms</mat-card-title>

        <mat-list-item *ngFor="let form of createdForms" role="listitem">{{ form.name }}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </ng-container>

  <mat-card-actions>
    <button mat-flat-button (click)="openBottomSheet()" color="accent">Create custom form</button>
  </mat-card-actions>
</mat-card>
