<form [formGroup]="customForm">
  <mat-card>
    <mat-card-title>
      <mat-form-field style="width: 100%;">
        <mat-label>Form Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </mat-card-title>

    <mat-card-subtitle>
      <mat-form-field style="width: 100%;">
        <mat-label>Form Description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
    </mat-card-subtitle>


    <button *ngIf="!readonly" mat-stroked-button color="primary" type="button" (click)="addSection()">Add section</button>
    <button *ngIf="!readonly" mat-stroked-button color="primary" style="margin-left: 10px;" type="button" (click)="addQuestion()">Add question</button>
    <button mat-stroked-button style="margin-left: 10px;" color="primary" (click)="onSave()">
      {{ readonly ? 'Answer' : 'Save' }}
    </button>
  </mat-card>

  <mat-accordion style="margin-top: 10px; display: block;" multi>
    <ng-container *ngFor="let firmControl of customForm.controls.customFormControls.controls; let i = index">
      <app-section-control
        *ngIf="firmControl.value.type === 'section'"
        [sectionFormGroup]="$any(firmControl)"
        (deleted)="deleteSection(i)"
        [readonly]="readonly"
      ></app-section-control>

      <mat-expansion-panel
        *ngIf="firmControl.value.type === 'question'"
        [formGroup]="firmControl"
        expanded
      >
        <mat-expansion-panel-header>Question</mat-expansion-panel-header>

        <app-question-control [questionFormGroup]="$any(firmControl)" (deleted)="deleteQuestion(i)"></app-question-control>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</form>
